<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="layout">
<head>
<title>Valuations : View all</title>
</head>
<body>
	<h1 layout:fragment="header">Valuations : View all</h1>
	<div layout:fragment="content" class="container">
		<div class="pull-right">
			<a href="form.html" th:href="@{/secure/form}">Create Valuation</a>
		</div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>Type</td>
					<td>Price</td>
					<td>Time</td>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${valuations.empty}">
					<td colspan="3">No valuations</td>
				</tr>
				<tr th:each="valuation : ${valuations}">
					<td th:text="${valuation.fruitType}">FRUIT</td>
					<td th:text="${valuation.price}">0.0</td>
					<td th:text="${#calendars.format(valuation.time)}">0.0</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
